//
// use foundation-mixins for media-queries !!
//

$inv--font-headlines:           'FrutigerLight';
$inv--font-text:                'FrutigerLight';
$inv--font-text-bold:           'FrutigerBold';

$col--primary:                  #eb690b;
$col--primary-lighten:          lighten($col--primary, 10%);
$col--secondary:                #6baaca;

// overwrite font-awesome variables
$fa-font-path:                  '../fonts' !default;