.text-block {
  padding-bottom: rem-calc(30);
  padding-top: rem-calc(30);
}

.vision-block {
  position: relative;
}

@media #{$large-up} {
  .vision-block {
    position: absolute;
    right: rem-calc(180);
    width: calc(100% - 850px);
    top: rem-calc(300);
  }
}