.button {
  &.investor {
    background: $inv--col-primary-lighten;

    &:hover, &:active, &:focus {
      background: $inv--col-primary-darken;
    }
  }

  &.has-arrow {
    padding-left: rem-calc(20);

    span {
      display: inline;
    }
  }

  &.cta {
    text-align: left;
    width: 15rem;
  }

  &.primary {
    background: white;
    border: 1px solid $inv--col-primary-lighten2;
    color: $inv--col-primary-lighten;
    transition: all .3s;

    &:hover {
      border-color: $inv--col-primary;
    }
  }

  .arrow {
    display: inline;
    margin: 10px 10px 10px 0;
  }
}