.nav-wrapper {
  border-bottom: 1px solid $inv--col-lightgrey;
}

.brand-logo {
  position: relative !important;
  left: 0 !important;
  transform: initial !important;

  img {
    height: 30px;
    margin-top: -8px;
  }
}

.left-off-canvas-toggle, .right-off-canvas-toggle {
  span {
    display: block;
  }
}

.tab-bar {
  border-bottom: 1px solid $inv--col-lightgrey;
}

@media #{$medium-up} {
  .brand-logo {
    img {
      height: 25px;
      margin-top: -5px;
    }
  }
}